* {
    font-family: 'Fira Code';
}

body {
    margin: auto;
}

/*override colour of nav bar with blue bgrnd and white text*/
.customNav {
    background-color: rgb(9,42,78) !important;
    padding: 10px;
}

.navbar-brand {
    font-size: 50px;
}

#name, #aboutme, #projects, #github, #home, #skills {
    color: white !important;
}

#name {
    font-family: 'Fira Code';
}

/*jumbotron css*/
.jumbotron {
    background-image: url(../images/blue\ background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0% !important;
    /*need to somehow get rid of space between sections*/
}
.jumbotronContent {
    text-align: center;
}
.jumbotron h1 {
    font-family: 'Fira Code';
    font-size: 30px;
}
.profilePicture {
    border-radius: 50%;
    max-width: 200px;
    padding: 5px;
    border: white 3px solid;
}
/*projects css*/
.projectsGrid, .skillsSection {
    background-color:#8cadd8;
}
.card-title, .title, .card-text {
    text-align: center;
    font-family: 'Fira Code';
}
.card {
    margin: 30px !important;
    text-align: center;
}
.card-description {
    font-size: 10px;
}
.card img {
    object-fit: cover;
    max-width: auto;
    max-height: 400px;
}
.title {
    padding: 80px;
    color: black;
}
/*skills*/
.skillsSection {
    background-color: #8cadd8;
}
.skillsSection ul {
    margin: 30px;
    text-align: center;
    width: 400px;
    padding: 30px;
    font-family: 'Fira Code';
    margin: auto;
}

/*about me section*/
.aboutme {
    background-color: #8cadd8;
}
.aboutme-section {
    margin: auto;
}
.card-text {
    font-size: 10px;
}

/*contact section*/
.contact-list {
    text-align: center;
    font-family: 'Fira Code';
}