* {
    font-family: 'Fira Code';
}

body {
    margin: auto;
    font-size: 16px;
}

/*nav content*/
.customNav {
    background-color: rgb(9, 42, 78) !important;
    padding: 0.625em;
}

.navbar-brand {
font-size: 3.125em;
}

#my-name,
#aboutme,
#projects,
#github,
#home,
#skills {
    color: white !important;
}

.nav-link {
    transition: transform .2s;
}

.nav-link:hover {
    transform: scale(1.2);
}

/*jumbotron css*/
.jumbotron {
    background-image: url(../images/blue\ background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0% !important;
    /*need to somehow get rid of space between sections*/
}

.jumbotronContent {
    text-align: center;
}

.jumbotron h1 {
    font-size: 1.875em;
}

.profilePicture {
    border-radius: 50%;
        max-width: 12.5em;
        padding: 0.3125em;
        border: white 0.1875em solid;
}

.shortDescription {
    margin: auto;
        padding: 1.875em !important;
        font-size: 0.9375em !important;
}

/*projects css*/
.projectsGrid,
.skillsSection {
    background-color: #8cadd8;
}

.card-title,
.title,
.card-text {
    text-align: center;
}

.card {
    margin: auto;
        text-align: center;
        transition: transform 0.3s;
        margin: 1.25em;
}

.card:hover {
    transform: scale(1.1);
}

.card-description {
    font-size: 10px;
}

.card img {
    object-fit: cover;
    max-height: 350px;
}

.title {
    padding: 80px;
    color: black;
}

/*skills*/
.skillsSection {
    background-color: #8cadd8;
}

.skillsSection ul {
    margin: 1.875em;
        text-align: center;
        width: fit-content;
        padding: 1.875em;
        margin: auto;
}

/*about me section*/
.aboutme {
    background-color: #8cadd8;
}

.aboutme-section {
    margin: auto;
}

.aboutmeCard {
    width: 500px;
    margin: auto;
}

.card-text {
    font-size: 10px;
}

.aboutme-section img {
    height: 18.75em;
}

/*contact section*/
.contact-list {
    text-align: start;
        margin-left: 1.25em;
        padding: 1.25em;
        font-size: 1.25em;
}

.contact-list li {
    padding: 0.625em;
}

.contact-list li img {
    height: 1.875em;
        width: 1.875em;
        transition: 2s;
}

.contact-list li img:hover {
    transform: scale(1.2);
}

/*footer*/
footer {
    padding-top: 40px;
    background-color: #8cadd8;
    margin: auto;
    padding-bottom: 20px;
}

footer li {
    list-style: none;
    padding: 5px;
    text-align: center;
}

footer li img {
    height: 25px;
    width: 25px;
}

.footer-list li img {
    transition: 2s;
}

.footer-list li img:hover {
    transform: scale(1.2);
}

/*home button*/
.homeButton {
    margin-left: 1.875em;
        box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.3s ease-in-out;
}

.homeButton:hover {
    box-shadow: 0 0.3125em 0.9375em rgba(0, 0, 0, 0.8);
}